<div class="col-xs-12">
  <div class="box">
    <div class="box-header">
      <div class="box-tools">
	<% create_quantity(@my_company).tap do |quantity_licenses| %>
	  <% if quantity_licenses.blank? %>
	    <%= t('.restricred_create') %><br />
	  <% else %>
            <%= button_link_to t('.create'), (polymorphic_path([params[:controller].gsub('/', '_').singularize.to_sym], action: :new) rescue url_for(action: :new)) %><br />
	    <% quantity_licenses.each do |quantity_license| %>
	      <%= "#{t('.create_quantity', :product_name => quantity_license[:product_name], :quantity => quantity_license[:quantity])}" %><br />
	    <% end %>
	  <% end %>
	<% end %>

        <%= render :partial => "shared/page_entries_info", :locals => {:entries => instance_variable_get("@#{params[:controller].split('/').last}") } %>
      </div>
    </div>

    <div class="box-body table-responsive no-padding" id="<%= "#{params[:controller].split('/').last.singularize}-list" %>">
      <%= render :partial => lookup_context.exists?("list", params[:controller], true) ? "list" : "shared/list", :locals => {:objects => instance_variable_get("@#{params[:controller].split('/').last}"), :pickup_param => @pickup_param} %>
    </div>
  </div>
</div>

